Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Si existe archivo o carpeta, sírvelo directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# En otro caso, redirige todo a index.php
RewriteRule ^ index.php [L,QSA]
