Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Si existe archivo o carpeta, sírvelo directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# En otro caso, redirige todo a index.php
RewriteRule ^ index.php [L,QSA]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 0 seconds"
  ExpiresByType application/javascript "access plus 0 seconds"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
